    :root {
        font-size: 10px;
        --border: 0.1rem solid #D2AA3C;
    }

    /* Reset global */
    * {
        margin: 0;
        padding: 0;
        outline: none;
        border: none;
        text-decoration: none;
        transition: 0.5s linear;
        box-sizing: border-box;
        font-family: "Roboto", sans-serif;
    }

    html {
        scroll-behavior: smooth;
        overflow-x: hidden;
    }

    body {
        width: 100%;
        background-color: #000;
        font-family: Arial, sans-serif;
        overflow-x: hidden;
    }

    section {
        padding: 3rem 19rem;
        max-width: 100%;
        box-shadow: #000;
    }

    /* Home Section */
    .home {
        position: relative;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
    }

    /* Imagem de fundo */
    .background {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: blur(15px) brightness(0.3);
        z-index: -1;
    }

    /* Header */
    .header {
        top: 0;
        left: 0;
        right: 0;
        z-index: 99;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 5%;
        background: rgba(0, 0, 0, 0.5);
        height: 100px;
        width: 100%;
        border-bottom: var(--border);
    }

    .header .logo img {
        width: 120px;
    }

    /* NavBar */
    .navbar {
        display: flex;
        margin-top: -60px;
        margin-left: 60px;
        gap: 2rem;
        z-index: 99;
    }

    .navbar a {
        font-size: 1.8rem;
        color: #fff;
        font-weight: bold;
        padding: 0.5rem 1rem;
        transition: color 0.3s;
    }

    .navbar a:hover {
        color: #D2AA3C;
        border-bottom: 0.1rem solid #D2AA3C;
        font-size: 2rem;
    }

    /* Botão */
    .buttonHeader {
        display: flex;
        z-index: 99;
        justify-content: flex-end;
        align-items: center;
        margin-top: -40px;
        margin-left: auto;
        padding-right: 100px;
    }

    .button-CTA {
        padding: 1rem 2rem;
        background-color: #fff;
        color: #000;
        font-size: 1.6rem;
        font-weight: bold;
        border-radius: 5px;
        cursor: pointer;
        transition: background 0.3s;
    }

    .button-CTA:hover {
        background-color: #b58d2c;
        color: #fff;
    }
    /* End header */
    /* ===================================================================== */
    /* Home Section*/
    .presentation {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
    }

    .presentation-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 80%;
        max-width: 1200px;
    }

    .presentation-text {
        flex: 1;
        text-align: left;
        max-width: 600px;
        margin-left: -35px;
    }

    .presentation-title {
        font-size: 4rem;
        color: #f4f4f4;
        text-transform: uppercase;
        margin-bottom: 4rem;
        font-weight: bold;
    }

    .presentation-description {
        font-size: 2rem;
        color: #fff;
        margin-bottom: 4rem;
        font-weight: lighter;
    }

    .presentation-img {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 270px;
        margin-bottom: 210px;
    }

    .presentation-img img {
        max-width: 200vh;
        height: auto;
        display: block;
    }

    .presentation-bg {
        margin-left: 523px;
        margin-top: 100px;
        position: absolute;
        width: 500px;
        height: 300px;
        background-color: #b58d2c;
        border-radius: 20px;
        z-index: -1;
    }
    /* End Home Section*/
    /* ===================================================================== */
    /* About Section */
    .about {
        background-color: #000;
        padding: 5rem 2rem;
        text-align: center;
        overflow: hidden;
        width: 100%;
        box-sizing: border-box;
    }

    .about h2 {
        padding-top: 3rem;
        border-top: 0.1rem solid #D2AA3C;
        text-transform: uppercase;
        font-size: 4rem;
        color: #b58d2c;
        text-align: center;
        margin-bottom: 4rem;
    }

    .about .row {
        display: flex;
        align-items: center;
        text-align: left;
        gap: 1.5rem;
        background-color: #000;
    }

    .about .row .content {
        padding: 2rem;
    }

    .about .row .content h3 {
        font-size: 3rem;
        color: #fff;
    }

    .about .row .content p {
        font-size: 1.6rem;
        color: #fff;
        padding: 1rem 0;
        line-height: 1.5;
    }
    /* End About Section*/
    /* ===================================================================== */
    /* Services Section */
    .services {
        background-color: #fff;
        padding: 5rem 2rem;
        text-align: center;
        overflow: hidden;
        width: 100%;
        box-sizing: border-box;
    }

    .services h2 {
        border-top: 0.1rem solid #D2AA3C;
        padding-top: 3rem;
        text-transform: uppercase;
        font-size: 4rem;
        color: #193C78;
        text-align: center;
        margin-bottom: 4rem;
        margin-top: 2rem;
    }

    .services .box-container {
        display: flex;
        align-items: center;
        text-align: center;
        gap: 1.5rem;
        background-color: #fff;
        position: relative;
    }

    .services .box-container .box {
        position: relative;
        text-align: center;
        align-items: center;
        padding: 1.8rem;
    }

    .services .box-container .box:hover {
        transform: scale(1.08);
    }

    .services .box-container .box img {
        border-radius: 20px;
        width: 300px;
        height: 450px;
        object-fit: cover;
        display: block;
        filter: blur(2px) brightness(0.4);
    }

    .services .box-container .box:hover img {
        filter: blur(3px) brightness(0.2);
    }

    .services .box-container .box h3 {
        font-size: 2rem;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: #fff;
        z-index: 2;
        padding: 1.5rem;
        border-radius: 10px;
        width: 76%;
        font-weight: lighter;
        font-style: italic;
    }

    .services .box-container .box h3 span {
        font-style: normal;
        font-weight: 900;
        text-transform: uppercase;
    }

    .services .box-container .box:hover h3 {
        font-size: 2.5rem;
    }

    .services .box-container .box .content {
        font-size: 1rem;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: #fff;
        z-index: 2;
        padding: 1.5rem;
        border-radius: 10px;
        width: 85%;
        line-height: 2rem;
        font-weight: lighter;
    }

    .services .box-container .box:hover .content {
        transform: translate(-50%, -50%) scale(1.5);
        padding: 5rem;
    }
    /* End Services Section */
    /* ===================================================================== */
    /* Review Section */
    .reviews .box-container {
        display: flex;
        align-items: center;
        text-align: center;
        background-color: #000;
        position: relative;
        gap: 100px;
    }

    .reviews h2 {
        padding-top: 3rem;
        border-top: 0.1rem solid #D2AA3C;
        text-transform: uppercase;
        font-size: 4rem;
        color: #b58d2c;
        text-align: center;
        margin-bottom: 4rem;
    }

    .reviews .box-container .box {
        border: var(--border);
        border-radius: 20px;
        text-align: center;
        padding: 3rem 2rem;
        cursor: context-menu;
    }

    .reviews .box-container .box:hover {
        transform: scale(1.05);
        background-color: #b58d2c;
    }

    .reviews .box-container .aspas {
        width: 20%;
    }

    .reviews .box-container .box p {
        font-size: 1.5rem;
        color: #fff;
        line-height: 1.8;
        font-weight: lighter;
    }

    .reviews .box-container .box h3 {
        font-size: 2.5rem;
        color: #fff;
        margin: 2rem 0;
    }
    /* End Reviews Section */
    /* ===================================================================== */
    /* Address Section */
    .address {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .address .title {
        padding-top: 3rem;
        border-top: 0.1rem solid #D2AA3C;
        text-transform: uppercase;
        font-size: 4rem;
        color: #b58d2c;
        text-align: center;
        margin-bottom: 4rem;
    }
    /* End Address Section */
    /* ===================================================================== */
    /* Footer Section */
    .footer {
        text-align: center;
    }

    .footer .share {
        padding: 1rem 0;
    }

    .footer .share img {
        height: 60px;
        width: 60px;
        border-radius: 50%;
        cursor: pointer;
        margin: 4rem;
        padding: 1rem;
    }

    .footer .share img:hover {
        background-color: #D2AA3C;
    }

    .footer p {
        color: #fff;
        font-size: 1.3rem;
        font-weight: lighter;
    }
    /* End Footer Section*/
